<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SPC_07_SIMPLE_EXAMPLE_BEAN_ALIAS_WITOUT_ALIAS_TAG/src/org/javateam/test/Test.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.javateam.test.Test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SPC_07_SIMPLE_EXAMPLE_BEAN_ALIAS_WITOUT_ALIAS_TAG"/>
</launchConfiguration>
